@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+IS&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: darkslategray;
  background-color:whitesmoke; 
  white-space: nowrap;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

.gameStartContainer{
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  top: 2rem;
}

.startContainer{
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.divFlex2{
  text-align: center;
}
.startBtn{
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  animation: fadeEffect 3s infinite alternate;
  background-color: black;
  width: 10rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

@keyframes fadeEffect {
  0% {
    opacity: 1; /* Fully opaque */
  }
  50% {
    opacity: 0.4; /* Fully transparent */
  }
 100%{
  opacity: 0.6;
 }
}
.styleAll{
  position: absolute;
  top: 8rem;
  left: 10rem;
  right: 10rem;
  z-index: -20;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 5rem;
  overflow-x: hidden;
}

.questionIconGreen,.questionIconRed{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  color: rgba(10, 136, 10, 0.705);
  font-size: 5rem;
  transform: skewX(8deg)
}
.questionIconGreen {
  animation: greenBig 5s infinite alternate; 
}

@keyframes greenBig {
  0% {
    font-size: 5rem; 
  }
  50% {
    font-size: 6rem; 
  }
  100%{
    font-size: 4rem;
  }
}

.questionIconRed{
  color: rgba(202, 13, 13, 0.699);
  font-size: 2rem;
  animation: redBig 5s infinite alternate-reverse; 
  margin-top: 0rem;
}


@keyframes redBig {
  0% {
    font-size: 2rem; 
  }
  50%{
    font-size: 3rem;
  }
  100%{
    font-size: 1rem;
  }
}

.questionIconRed2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  color: rgba(202, 13, 13, 0.699);
  font-size: 6rem;
  transform: skewX(8deg);
  animation: redBig2 5s infinite alternate-reverse; 
}
@media all and (max-width:770px) {
  .startContainer{
    font-size: 3rem;
  }
  .gameStartContainer{
    top: 10rem;
  }
  .styleAll{
    left: 2rem;
  }
}
@media all and (max-width:450px) {
  .startContainer{
    font-size: 2rem;
  }
  .styleAll{
    gap: 0;
    left: 0rem;
    right: 0;
  }
  .questionIconGreen,.questionIconRed{
    font-size: 2rem;
  }
  .questionIconRed2{
    font-size: 1rem;
  }
}
/* @media all and (max-width:1157px) {
  .divFlex{
    left: 14rem;
  }
  .divFlex2{
    left: 28rem;
  }
  .styleAll{
    left: 5rem;
  }
}
@media all and (max-width:900px) {
  .styleAll{
    gap: 1rem;
    left: 2rem;
    
  }
 .questionIconRed{
  gap: 10rem;
  }
}
@media all and (max-width: 872px) {
  .divFlex{
    left: 10rem;
  }
  .divFlex2{
    left: 0;
    right: 0rem;
  }
}
@media all and (max-width:775px) {
  .startContainer{
    font-size: 3.5rem;
  }
  .divFlex{
    top: 10rem;
    left: 8rem;
  }
  .styleAll{
    top: 20rem;
    right: 0;
  }
 
  .divFlex2{
    top: 26rem;
    left: 5rem;
  }
}
@media all and (max-width:710px) {
  .startContainer{
    font-size: 3rem;
  }
  .divFlex{
    top: 6rem;
  }
  .divFlex2{
    top: 20rem;
    left: 0rem;
  }
}
@media all and (max-width:414px) {
  .startContainer{
    font-size: 2rem;
    text-align: center;
  }
  .divFlex{
    left: 3rem;
  }
  .divFlex2{
    top: 20rem;
    left: 8rem;
  }
  .styleAll{
    gap: 0;
    left: 1rem;
  }
  .questionIconGreen,.questionIconRed{
    font-size: 2rem;
  }
  .questionIconRed2{
    font-size: 1rem;
  }
}
@media all and (max-width:390px) {
  .divFlex{
    left: 1rem;
    top: 14rem;
  }
  .divFlex2{
    top: 23rem;
    left: 6rem;
  }
} */
@keyframes redBig2 {
  0% {
    font-size: 6rem; 
  }
  50%{
    font-size: 7rem;
  }
  100%{
    font-size: 5rem;
  }
}


/* question style */
.questionContainer{
  position: relative;
  top: 20vh;
  left: 20vh;
  display: grid;
}

.questionUl{
list-style: none;
font-size: 1.5rem;

}

.optionUl{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 30rem);

}

.optionli{
  border: 1px solid white;
  padding: 1rem;
  margin-top: 2rem;
  margin-right: 2rem;
  border-radius: 10rem;
}

.buttonsEnd{
margin-left: 5rem;
}
.btnSubmit, .btnEnd{
  border: none;
  padding: 1rem;
  width: 10rem;
  border-radius: 10rem;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.btnEnd{
  background-color: red;
  margin-left: 10px;
  cursor: pointer;
}
/* Level Choice */
.inputContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20rem;
  z-index: 1000;
}

.inputContainer input{
  width: 20rem;
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  margin-bottom: 4px;
}

.inputContainer button{
  width: 8rem;
  margin-top: .6rem;
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
}


.endGame{
  position: relative;
  top: 10vh;
  left: 30vw;
}

.endGame2{
  /* position: fixed;S */
  left: 40vw;
  background-color: rgba(126, 124, 124, 0.596);
  width: 35rem;
  height: 65vh;
  padding: 30px;
  color: black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
}


.endGame2 p{
  text-align: center;
}
.endGame2 button{
  width: 15rem;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
}
.endGame .btnContainer{
  display: flex;
  justify-content: center;
}

.modelStyle{
  background-color: rgba(65, 62, 62, 0.74);
  margin-top: 30vh;
  margin-left: 35vw;
  width: 30vw;
  height: 30vh;
  padding-top: 20px;
  padding-left: 20px;
  border: none;
  border-radius: 3px;
}

.modelStyle .btnContainer{
  margin-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modelStyle .btnContainer button{
  padding: 10px;
  margin-right: 10px;
  width: 10vw;
  border: none;
  border-radius: 3px;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
